<nav>
  <a href="/home"
    ><img src="assets/images/HomeImage.png" alt="Bidding-system"
  /></a>
  <ul>
    <li><a routerLink="/home" appNavActive>Home</a></li>
    <li><a routerLink="/catalog" appNavActive>Catalog</a></li>

    <ng-container *ngIf="!isLoggedIn">
      <li><a routerLink="/login" appNavActive>Login</a></li>
      <li><a routerLink="/register" appNavActive>Register</a></li>
    </ng-container>

    <ng-container *ngIf="isLoggedIn">
      <li><a routerLink="/create" appNavActive>Create</a></li>
      <li><a routerLink="/profile" appNavActive>Profile</a></li>
      <li><a routerLink="#" (click)="logout()" appNavActive>Logout</a></li>
    </ng-container>
  </ul>
</nav>
