<main>
  <section class="details-page">
    <h1>Details</h1>
    <article class="details-card">
      <article class="details-card-text">
        <h2>Title: {{ selectedItem?.title }}</h2>
        <h3>Author: {{ username }}</h3>
        <h3>Price: {{ selectedItem?.price }}$</h3>
        <h3>Bids made: {{ selectedItem?.bids?.length || 0 }}</h3>
        <h3>Type of purchase: {{ selectedItem?.type }}</h3>
        <h3>Description: {{ selectedItem?.description }}</h3>
        <h3 *ngIf="lastBidder">Last bidder's username: {{ lastBidder }}</h3>

        <div class="buttons">
          <ng-container *ngIf="owner">
            <a [routerLink]="'/edit/' + selectedItem?.objectId" class="btn-edit"
              >Edit</a
            >
            <a
              routerLink="#"
              (click)="deleteBid(selectedItem?.objectId)"
              class="btn-delete"
              >Delete</a
            >
          </ng-container>
          <ng-container *ngIf="!owner && currentUser">
            <a
              routerLink="#"
              class="btn-wish"
              (click)="showBidForm()"
              *ngIf="!hasBidded"
              >Wish to bid</a
            >
            <p class="wish-pub" *ngIf="hasBidded">
              You have already bidded to this item
            </p>
          </ng-container>
        </div>
      </article>

      <article class="details-card-image">
        <img [src]="selectedItem?.imageUrl" />
      </article>
    </article>

    <div class="bidForm-container" *ngIf="showBidFormContainer">
      <form
        #bidForm="ngForm"
        (ngSubmit)="bidForItem(selectedItem?.objectId, bidForm)"
      >
        <input
          type="number"
          id="bidItem-input"
          min="1"
          placeholder="Money you want to bid"
          name="bidPrice"
          ngModel
          required
          #bidPrice="ngModel"
        />
        <!-- <textarea name="item" id="bidItem-textarea" cols="40" rows="10" placeholder="Type how much money do you want to bid"></textarea> -->
        <button type="submit" [disabled]="bidPrice.errors?.['required']">
          Bid
        </button>
        <button class="close" (click)="hideBidForm()">Close</button>
      </form>
    </div>
  </section>
</main>
