<main>
  <section class="forms">
    <form method="post">
      <h3>Create</h3>

      <label for="title">Title</label>
      <input type="text" name="title" class="box" />

      <label for="description">description</label>
      <input type="text" name="description" class="box" />

      <label for="price">Price</label>
      <input type="number" name="price" class="box" />

      <label for="imageUrl">Image</label>
      <input type="text" name="imageUrl" class="box" />

      <label for="type">Type of purchase</label>
      <select name="type" id="" class="box">
        <option value="buy">Buy</option>
        <option value="sell" selected>Sell</option>
      </select>

      <input type="submit" class="btn" value="Create" />
    </form>
  </section>
</main>
