<main>

    <div class="errorContainer">
        <p>Wrong data</p>
    </div>

    <section class="forms">

        <form method="post">
            <h3>Register</h3>
            <label for="fName">First name</label>
            <input type="text" name="fName" class="box" id="fName" />

            <label for="lName">Last name</label>
            <input type="text" name="lName" class="box" id="lName" />

            <label for="email">Email</label>
            <input type="email" name="email" class="box" id="email" />

            <label for="image">Image</label>
            <input type="text" name="image" class="box" id="image" />

            <label for="email">Phone</label>
            <input type="email" name="email" class="box" id="email" />

            <label for="password">Password</label>
            <input type="password" name="password" class="box" id="password" />

            <label for="rePass">Repeat password</label>
            <input type="password" name="password" class="box" id="rePass" />

            <input type="submit" value="Login" class="btn" />
            <p>Don't have an account ? <a href="/register">Create one</a></p>
        </form>
    </section>
</main>