<main>
  <section>
    <div class="data">
      <div class="profile-img">
        <img [src]="profile?.imageUrl" alt="Blank profile" />
      </div>

      <div class="personal-data">
        <p>Username: {{ profile?.username }}</p>
        <p>Email: {{ profile?.email }}</p>
        <p>{{ profile?.posts?.length || 0 }} posts</p>
      </div>
    </div>

    <ng-container *ngIf="profile?.posts?.length">
      <div class="auction-images" *ngFor="let post of creations">
        <div class="photo">
          <a [routerLink]="'/details/' + post.objectId">
            <img [src]="post.imageUrl" alt="Truck" />
          </a>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="!profile?.posts?.length">
      <div class="auction-images">
        <p className="noposts">You have no posts yet! Try and create some here => <a routerLink="/create">Create</a>
      </div>
    </ng-container>
  </section>
</main>
