main {
    color: aqua;
    text-align: center;
    padding-top: 150px;
}

#home-main {
    position: relative;
}

.clock {
    font-size: 50px;
    color: rgb(114, 250, 148);
}

.clock-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.errorContainer {
    position: fixed;
    top: 90px;
    right: 80px;
    width: 380px;
    min-width: 100px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
}

.errorContainer > p {
    background: rgba(219, 24, 24, 0.884);
    font-size: 25px;
    padding: 20px;
    border-radius: 25px;
}