nav {
    background-color: rgba(221, 69, 69, 0.63);
    padding: 10px;
    /* overflow: hidden; */
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav > a > img {
    height: 80px;
    padding-left: 15px;
    border-radius: 20px 20px 20px 20px;
}

nav > ul {
    padding-top: 15px;
    padding-right: 30px;
    float: right;
}

nav > ul > li {
    display: inline-block;
    padding-right: 5px;
}

nav > ul > li > a {
    font-size: 20px;
    padding: 10px;
    color: white;
    text-decoration: none;
}

nav > ul > li > a:hover {
    background-color: rgba(104, 33, 33, 0.63);
    box-shadow: 4px 4px black;
}