.data {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    border-bottom: 3px dotted lightcyan;
}

.profile-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 25px;
}

.personal-data p {
    display: flex;
    font-size: 25px;
    margin-bottom: 15px;
    color: #f5f0f6;
}

.auction-images {
    padding-top: 15px;
    display: flex;
    justify-content: space-evenly;
}

.auction-images .photo img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 2px;
    box-shadow: 4px 4px 4px 4px #888888;
    transition: box-shadow 0.3s;
}

.auction-images .photo img:hover {
    box-shadow: none;
}