<main>
  <div class="errorContainer" *ngIf="loginForm.invalid">
    <ng-container *ngIf="inputUsername.touched">
      <p class="error" *ngIf="inputUsername.errors?.['required']">
        Username is required!
      </p>
      <p class="error" *ngIf="inputUsername.errors?.['minlength']">
        Username must be at least
        {{inputUsername.errors?.['minlength']['requiredLength']}} characters!
      </p>
    </ng-container>
    <ng-container *ngIf="inputPassword.touched">
      <p class="error" *ngIf="inputPassword.errors?.['required']">
        Password is required!
      </p>
      <p class="error" *ngIf="inputPassword.errors?.['minlength']">
        Password must be at least
        {{inputPassword.errors?.['minlength']['requiredLength']}} characters!
      </p>
    </ng-container>
  </div>

  <section class="forms">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <h3>Login</h3>
      <label for="username">Username</label>
      <input
        type="username"
        name="username"
        class="box"
        id="username"
        ngModel
        required
        #inputUsername="ngModel"
        minlength="4"
      />
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        class="box"
        id="password"
        ngModel
        required
        #inputPassword="ngModel"
        minlength="4"
      />

      <input
        type="submit"
        value="Login"
        class="btn"
        [disabled]="loginForm.invalid"
      />

      <p>Don't have an account ? <a routerLink="/register">Create one</a></p>
    </form>
  </section>
</main>
