
@import url('./style/nav.css');
@import url('./style/home.css');
@import url('./style/catalog.css');
@import url('./style/forms.css');
@import url('./style/details.css');
@import url('./style/profile.css');

body {
    margin: 0;
    padding: 0;
}

main {
    font-size: 20px;
}